html 
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous") 
        title=titulo
        
    body(class="container")
        header 
            nav(class="navbar navbar-expand-lg navbar-light bg-light")
                a(class="navbar-brand" href="/api/productos")=empresa
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item")
                        a(class="nav-link" href="/api/productos/")="Products Mangment"
                    li(class="nav-item")
                        a(class="nav-link" href="/api/productos/productsList")="Products List"
        main
            div(class="container mt-3")
                div(class="jumbotron")
                    table(class="table table-dark")
                        
                            tr(style="color: yellow")
                                th=title
                                th=price 
                                th=thumbnail
                                each product in productNames
                                        tr  
                                            td= product.title
                                            td= product.price 
                                            td
                                                img(src=product.thumbnail, alt="" , widht="100" , height="100") 
                                else 
                                    h3(class="alert alert-danger")="No hay productos"
        footer 
            p(class="text-center text-muted")="©Copyright 2022 Space Syntax"